.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.App-link {
  color: #09d3ac;
}


.header {
  background-color:#28282e;
  padding: 20px;
  text-align: center;
  font-weight: 200;
  color:lightgrey;
 
}

.header img {
  float: left;
  width: 120px;
  height: 120px;

}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}



.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 10;
  left: 0;
  background-color: #28282e;
  overflow-x: hidden;
  padding-top: 20px;
  
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  padding: 30px;
}

.sidebar a:hover {
  color: #D1D9ED;
}
.main {
  margin-top: -50px;
  margin-bottom: 100px;
  margin-right: 150px;

  margin-left: 260px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 20px 10px;
}

.input {
  padding: 20px 10px;
  text-align: left;
  font-size: 20px;
}

.timetable{
  padding: 20px 10px;
}

.blockedapptable{
  padding: 20px 10px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}